<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
	  <customErrors mode="Off" />
  </system.web>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=103.120.176.21;Initial Catalog=digit196_life;Integrated Security=false;User Id=digit196_life;Password=6wQ!2rjgrp6av1XwM;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="juhi.digitalbull@gmail.com">
				<network host="smtp.gmail.com" port="587" enableSsl="true" userName="juhi.digitalbull@gmail.com" password="juhi12krishna" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	
</configuration>